<div class="siimple-table">
  <div class="siimple-table-header">
    <div class="siimple-table-row">
      <div class="siimple-table-cell">Time</div>
      <div class="siimple-table-cell">Activity</div>
      <div class="siimple-table-cell"></div>
      <div class="siimple-table-cell"></div>
    </div>
  </div>
  <div class="siimple-table-body">
    <% @activity_logs.each do |activity_log| %>
      <div class="siimple-table-row">
        <div class="siimple-table-cell"><%= activity_log.started_at.strftime('%m/%d %H:%M') %> 〜 <%= activity_log.ended_at.strftime('%m/%d %H:%M') %></div>
        <div class="siimple-table-cell"><%= activity_log.activity.label %></div>
        <div class="siimple-table-cell"><%= link_to 'Edit', edit_activity_log_path(activity_log) %></div>
        <div class="siimple-table-cell"><%= link_to 'Destroy', activity_log, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Activity Log', new_activity_log_path %>
