<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Timemng</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="siimple-navbar">
      <div class="siimple-layout--left">
        <a class="siimple-navbar-title">Timemng</a>
      </div>
      <div class="siimple-layout--right">
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class:'siimple-navbar-link'%>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class:'siimple-navbar-link' %>
        <% end %>
      </div>
    </div>

    <div class="contents">
    <% if user_signed_in? %>
      <div class="siimple-tabs">
        <% tab_class = ["siimple-tabs-tab"] %>
        <%= content_tag(:div, class:["siimple-tabs-tab", request.path_info.start_with?(current_activity_path) ? "siimple-tabs-tab--selected" : nil]) do %>
          <%= link_to("Controller", current_activity_path, class:"siimple-link") %>
        <% end %>
        <%= content_tag(:div, class:["siimple-tabs-tab", request.path_info.start_with?(activity_logs_path) ? "siimple-tabs-tab--selected" : nil]) do %>
          <%= link_to("History", activity_logs_path, class:"siimple-link") %>
        <% end %>
        <%= content_tag(:div, class:["siimple-tabs-tab", request.path_info.start_with?(activities_path) ? "siimple-tabs-tab--selected" : nil]) do %>
          <%= link_to("Activity", activities_path, class:"siimple-link") %>
        <% end %>
      </div>
    <% end %>
    <% if notice.present? %>
    <div class="siimple-alert siimple-alert--grey"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
    <div class="siimple-alert siimple-alert--pink"><%= alert %></div>
    <% end %>
    <%= yield %>
    </div>
    <div class="siimple-footer" align="center">Timemng by rixwwd</div>
  </body>
</html>
